body{
background:#111;
color:white;
font-family:tahoma;
padding:20px;
}

h1{
color:gold;
text-align:center;
}

.top{
display:flex;
gap:10px;
margin-bottom:20px;
flex-wrap:wrap;
}

button{
padding:8px 15px;
border:none;
border-radius:6px;
cursor:pointer;
background:gold;
font-weight:bold;
}

.card{
background:#1d1d1d;
padding:15px;
border-radius:10px;
margin-top:15px;
border:1px solid #333;
}

.name{
color:#FFD700;
margin-bottom:10px;
font-size:18px;
}

.link{
word-break:break-all;
font-size:13px;
color:#ddd;
margin-bottom:10px;
}
